## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [4]:
import datetime as dt

print(dt.datetime.now())

2022-08-10 17:10:15.345638

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [3]:
import math as m

def get_circle_area(radius):
    return m.pi*(radius**2)

print(get_circle_area(2))

12.566370614359172

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [11]:
input_list = [2,4,5,7,9]
input_list2 = [2,4,5,5,7,9]

def isUnique(inList:list):
    #convert input into a set to have the unique list of elements from the original input
    setVer=set(inList)
    #return True if inList is equal to the converted list version of the setVer set, False if otherwise
    return inList==list(setVer)

print(isUnique(input_list))
print(isUnique(input_list2))

True
False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [13]:
path='./data/lil-wayne.txt'
my_file=open(path,'r')
txt_data=my_file.read()
txt_data=txt_data.upper()
my_dict=dict()

#initialize keys
for i in txt_data:
    my_dict[i]=0

#count
for i in txt_data:
    my_dict[i]+=1

print(my_dict)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [16]:
#find the max value of the values in my_dict
max_value=max(my_dict.values())
#loop through the dictionary until the key with value equal to max_value is found, then print
for key, value in my_dict.items():
    if value==max_value:
        print(f"The character which appeared the most is '{key}'; it apparead {value} times.")
#The character in this case is a {whitespace}

The character which appeared the most is ' '; it apparead 522 times.

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [31]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
#pop returns the value being popped and assigns to fourth_num
fourth_num=list1.pop(3)
#multiply the popped value by the last element in the list
fourth_num=fourth_num*list1[-1]
#append the new number to the end of the list
list1.append(fourth_num)
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [18]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list=[]
for i in original_list:
    if i%3==0:
        new_list.append(i)
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [20]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
original_list.reverse()
print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [24]:
original_list = [1, 2, 3, 4, 5, 6, 7]
#loop through the original_list and update the value of the current element by **2
for i in range(len(original_list)):
    original_list[i]=original_list[i]**2
print(original_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [27]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

j=len(list2)-1
#assuming list1 and list2 length are equal
for i in range(len(list1)):
    print(list1[i], list2[j-i])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [30]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']
#count the empty strings in the list
empty_string_counter=list_of_strings.count("")

#remove "" from the list (empty_string_counter) times
for i in range(empty_string_counter):
    list_of_strings.remove("")

print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [32]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}
make_list=list(sample_dict.values())
if 999 in make_list:
    print("True")
else:
    print("False")

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [41]:
import pandas as pd

df=pd.read_csv(filepath_or_buffer='data/titanic.csv')
print(df)

     passengerid  survived  pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  name     sex   age  sibsp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     parch            ticket     fare cabin embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [45]:
import math

my_dict=df.to_dict()
#make a list of the "age" column
age_list=list(my_dict["age"].values())
#create a usuable list without the "nan" value 
usuable_list=[]
for i in age_list:
    if math.isnan(i):
        continue
    usuable_list.append(i)
age_summ=sum(usuable_list)
mean_age=age_summ/len(usuable_list)
print(mean_age)

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [36]:
oldest=max(my_dict['age'].values())
youngest=min(my_dict['age'].values())

print(f"The oldest is {oldest} and the youngest is {youngest}")

The oldest is 80.0 and the youngest is 0.42

## How many people embarked from station 'S'?

In [40]:
embarked_in_S=list(my_dict['embarked'].values())
print_var=embarked_in_S.count("S")
print(f"{print_var} people embarked from station 'S'")

644 people embarked from station 'S'